@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

.fp-watermark {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

// btn
.btn-gradient-wrapper {
  background: linear-gradient(to left, #ffc600, #e8482e, #9c209d);
  display: inline-block;
  padding: 1px 1px;
  border-radius: 980px;
  transition: 0.3s all linear;

  @media only screen and (max-width: 800px) {
    margin-bottom: 2rem;
  }

  .btn {
    display: block;
    background-color: #121212;
    text-decoration: none;
    padding: 0.5em 1em;
    color: white;
    border-radius: 50px;
    transition: 0.3s all linear;

    &:hover {
      background-color: white;
      color: black;
    }
  }
}

#landing {
  background: linear-gradient(125.6deg, #121212 63.9%, #df4f1b 30%);
}
// Landing
.landing-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 2rem;
  color: white;

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    padding: 5rem 2rem;
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    padding: 5rem 1rem;
  }

  .landing-about {
    h1 {
      font-size: 3rem;
      background-image: linear-gradient(180deg, #ffe993, #eb831c);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      margin-bottom: 0.5rem;

      @media only screen and (max-width: 600px) {
        font-size: 2rem;
      }
    }

    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      line-height: 200%;
      text-align: justify;
      max-width: 600px;
      margin-bottom: 1rem;
      color: #b3b3b3;

      @media only screen and (max-width: 800px) {
        font-size: 0.9rem;
      }

      @media only screen and (max-width: 600px) {
        text-align: left;
      }
    }
  }

  .landing-image {
    img {
      width: 300px;
      object-fit: cover;
      background: #b3b3b3;
      border: 2px solid #ffc600;
      transition: 0.5s filter linear;

      &:hover {
        filter: contrast(1.2);
      }

      @media only screen and (max-width: 800px) {
        display: none;
      }
    }
  }
}

.f-carousel__dot {
  color: white;
}

// About Section
.about-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    padding: 5rem 2rem;
  }

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
    padding: 5rem 1rem;
  }

  .about-content {
    h1 {
      font-size: 3rem;
      background-image: linear-gradient(180deg, #ffe993, #eb831c);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      margin-bottom: 1rem;

      @media only screen and (max-width: 600px) {
        font-size: 2rem;
      }
    }

    p {
      text-align: justify;
      line-height: 200%;
      max-width: 1000px;
      color: #b3b3b3;
      margin-bottom: 2rem;

      @media only screen and (max-width: 800px) {
        font-size: 0.9rem;
      }

      @media only screen and (max-width: 600px) {
        text-align: left;
      }
    }
  }

  .img-slider {
    margin-top: 5rem;
    width: 390px;
    text-align: center;

    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }
}

// Skills Section
.skill-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  padding: 5rem 0;

  @media only screen and (max-width: 500px) {
    padding-bottom: 3rem;
  }

  .skill-content-container {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-gap: 2rem;

    @media only screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
  }

  .skill-title {
    font-size: 3rem;
    background-image: linear-gradient(180deg, #ffe993, #eb831c);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 3rem;

    @media only screen and (max-width: 600px) {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  .skill-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    @media only screen and (max-width: 1350px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media only screen and (max-width: 800px) {
      margin-bottom: 3rem;
    }

    @media only screen and (max-width: 500px) {
      margin-bottom: 3rem;
      // grid-template-columns: 1fr 1fr;
      grid-row-gap: 2rem;
      grid-column-gap: 3rem;
    }

    grid-row-gap: 2rem;
    grid-column-gap: 5rem;
    padding: 1rem;
    .skill-item {
      color: white;
      img {
        height: 72px;
        margin-bottom: 0.4rem;
        @media only screen and (max-width: 500px) {
          // height: 62px;
          height: 52px;
          text-align: center;
        }
      }

      p {
        // width: 50px;
        // text-align: center;
        width: 70px;
      }
    }
  }
}

// Tech cube
.tech-cube {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  object-fit: scale-down;
  perspective: 1000px;
  perspective-origin: 50% 50%;

  @media only screen and (max-width: 800px) {
    padding-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .tech-cube {
    margin-top: 10vh;
  }
}

@media (max-width: 500px) {
  .tech-cube {
    display: none;
  }
}

.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.cube > div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: solid 3px #f6416c;
  background-color: rgba(249, 243, 237, 0.7);
}

.front {
  transform: translateZ(100px);
  display: flex;
  align-items: center;
}

.front > img {
  width: 150px;
}
.left > img {
  height: 70% !important;
}
.back {
  transform: translateZ(-100px) rotateY(180deg);
  display: flex;
  align-items: center;
}

.back > img {
  width: 150px;
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.right > img {
  width: 150px;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  display: flex;
  align-items: center;
}

.left > img {
  width: 150px;
}

.top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
  display: flex;
  align-items: center;
}

.top > img {
  width: 150px;
}

.bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
  display: flex;
  align-items: center;
}

.bottom > img {
  width: 150px;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }

  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  animation: rotate 10s infinite linear;
}

/* adding hover effect */
.tech-cube:hover .front {
  transform: translateZ(200px);
}

.tech-cube:hover .back {
  transform: translateZ(-200px) rotateY(180deg);
}

.tech-cube:hover .right {
  transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}

.tech-cube:hover .left {
  transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}

.tech-cube:hover .top {
  transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}

.tech-cube:hover .bottom {
  transform: rotateX(270deg) translateZ(100px) translateY(100px);
}

.cube > div {
  transition: transform 0.2s ease-in;
}

// Projects
.project-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  color: white;

  .project-title {
    font-size: 3rem;
    background-image: linear-gradient(180deg, #ffe993, #eb831c);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 3rem;

    @media only screen and (max-width: 600px) {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  .splide-1 {
    max-width: 1200px;
  }

  .project-slide {
    margin: 0.3rem;
    padding: 2rem 1rem;

    .card-content {
      width: 550px;
      // width: 350px;

      @media only screen and (max-width: 700px) {
        width: 300px;
      }

      border: 1px solid rgba(128, 128, 128, 0.313);
      padding: 2rem 1.5rem;
    }

    img {
      margin-bottom: 1rem;
      width: 100%;
    }

    h1 {
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 2rem;
      line-height: 150%;
      color: #b3b3b3;
      // max-width: 600px;
    }

    a {
      color: white;
      text-decoration: none;
      background-color: #eb831c;
      padding: 0.2rem 1rem;
      transition: 0.5s opacity linear;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

// Contact
.contact-container {
  max-width: 1300px;
  margin: auto;
  color: white;
  padding: 5rem 2rem;

  @media only screen and (max-width: 800px) {
    padding: 5rem 2rem;
  }

  @media only screen and (max-width: 600px) {
    padding: 5rem 1rem;
  }

  h1 {
    font-size: 3rem;
    background-image: linear-gradient(180deg, #ffe993, #eb831c);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 1rem;

    @media only screen and (max-width: 600px) {
      font-size: 2rem;
    }
  }

  p {
    line-height: 200%;
    margin-bottom: 5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin-left: 0;
    input {
      width: 100%;
      padding: 0.5rem 1rem;
      font-family: inherit;
      margin-bottom: 1rem;
      background-color: #181818;
      border: 1px dashed gray;
      color: lightgray;

      &::placeholder {
        color: lightgray; // Replace #999 with the desired color code or name
      }
    }

    textarea {
      background-color: #181818;
      color: lightgray;

      width: 100%;
      padding: 0.5rem 1rem;
      font-family: inherit;
      margin-bottom: 2rem;
      border: 1px dashed gray;
      &::placeholder {
        color: lightgray; // Replace #999 with the desired color code or name
      }
    }

    h4 {
      margin-left: 0;
      margin-bottom: 2rem;
      a {
        color: #e8482e;
      }
    }

    button {
      display: inline-block;
      text-align: left;
      margin-left: 0;
      font-family: inherit;
      padding: 0.2rem 1rem;
      background-color: #eb831c;
      border: none;
      color: white;

      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  // form {
  //   width: 100%;
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;

  // input {
  //   width: 100%;
  //   padding: 0.5rem 1rem;
  //   font-family: inherit;
  //   margin-bottom: 1rem;
  // }

  // textarea {
  //   width: 100%;
  //   padding: 0.5rem 1rem;
  //   font-family: inherit;
  //   margin-bottom: 1rem;
  // }

  // button {
  //   display: inline-block;
  //   text-align: left;
  //   margin-left: 0;
  //   font-family: inherit;
  //   padding: 0.2rem 1rem;
  //   background-color: #eb831c;
  //   border: none;

  //   cursor: pointer;
  // }
  // }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  // padding: 0;
  margin: 0;
  border-top: 1px solid #b3b3b3;
  padding: 1rem 2rem;

  @media only screen and (max-width: 700px) {
    flex-direction: column;
    .content {
      p {
        font-size: 0.9rem;
        margin-bottom: 1rem;
      }
    }
  }

  a {
    text-decoration: none;
    color: white;
  }

  i {
    font-size: 1.5rem;
    margin-right: 1rem;
  }
}

// .fp-right {
//   display: none;
// }
