@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

.fp-watermark {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

// Landing
.landing-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 2rem;
  color: white;

  @media only screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    padding: 5rem 0;
  }

  .landing-about {
    h1 {
      font-size: 3rem;
      background-image: linear-gradient(180deg, #ffe993, #eb831c);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      margin-bottom: 0.5rem;
    }

    h2 {
      margin-bottom: 0.5rem;
    }

    p {
      line-height: 200%;
      text-align: justify;
      max-width: 600px;
      margin-bottom: 1rem;
      color: #b3b3b3;

      @media only screen and (max-width: 800px) {
        font-size: 0.9rem;
      }

      @media only screen and (max-width: 600px) {
        text-align: left;
      }
    }

    .btn-gradient-wrapper {
      background: linear-gradient(to left, #ffc600, #e8482e, #9c209d);
      display: inline-block;
      padding: 1px 1px;
      border-radius: 980px;
      transition: 0.3s all linear;

      @media only screen and (max-width: 800px) {
        margin-bottom: 2rem;
      }

      .btn {
        display: block;
        background-color: #121212;
        text-decoration: none;
        padding: 0.5em 1em;
        color: white;
        border-radius: 50px;
        transition: 0.3s all linear;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .landing-image {
    img {
      width: 300px;
      object-fit: cover;
      border-radius: 10px;
      background: #b3b3b3;
      border: 2px solid #ffc600;
      transition: 0.5s filter linear;

      &:hover {
        filter: contrast(1.2);
      }

      @media only screen and (max-width: 800px) {
        width: 250px;
      }
    }
  }
}

// About Section
.about-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 2rem;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: 1fr;
    padding: 5rem 0;
  }

  .about-content {
    h1 {
      font-size: 3rem;
      background-image: linear-gradient(180deg, #ffe993, #eb831c);
      color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
      margin-bottom: 0.5rem;
    }

    p {
      text-align: justify;
      line-height: 200%;
      max-width: 1000px;
      color: #b3b3b3;

      @media only screen and (max-width: 800px) {
        font-size: 0.9rem;
      }

      @media only screen and (max-width: 600px) {
        text-align: left;
      }
    }
  }

  .img-slider {
    width: 390px;
    text-align: center;

    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }
}

#myCarousel {
  --f-carousel-spacing: 20px;
  --f-carousel-slide-width: 100%;
  --f-progress-color: white;
}

#myCarousel .f-carousel__slide {
  padding: 10px;
  border: 1px solid #eb831c;
}

.f-carousel__dots li button {
  color: white !important;
}
