@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

.fp-watermark {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
}

.navbar-links {
  display: none;
  position: fixed;
  background-color: rgba(249, 243, 237, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 100vh;
  width: 670px;
  right: 0;
  z-index: 999;
  color: black;
}
@media only screen and (max-width: 600px) {
  .navbar-links {
    width: 100vw;
  }
}
@media only screen and (max-width: 800px) {
  .navbar-links {
    width: 100vw;
  }
}
@media (orientation: landscape) and (max-width: 1000px) {
  .navbar-links {
    width: 100vw;
  }
}
.navbar-links .close-btn {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  padding: 20px;
  transition: 0.5s all linear;
  cursor: pointer;
}
.navbar-links .navbar-link-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (orientation: landscape) and (max-width: 1000px) {
  .navbar-links .navbar-link-container {
    margin-top: 0;
  }
}
.navbar-links .navbar-link-container .nav__links:nth-child(1) {
  animation: sclaePopUp 1s ease-in forwards 1s;
}
.navbar-links .navbar-link-container .nav__links:nth-child(2) {
  animation: sclaePopUp 0.6s ease-in forwards 1.3s;
}
.navbar-links .navbar-link-container .nav__links:nth-child(3) {
  animation: sclaePopUp 0.6s ease-in forwards 1.6s;
}
.navbar-links .navbar-link-container .nav__links:nth-child(4) {
  animation: sclaePopUp 0.6s ease-in forwards 1.9s;
}
.navbar-links .navbar-link-container a {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0.7em;
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 600px) {
  .navbar-links .navbar-link-container a {
    font-size: 3rem;
  }
}
@media (orientation: landscape) and (max-width: 1000px) {
  .navbar-links .navbar-link-container a {
    font-size: 2rem;
  }
}
.navbar-links .navbar-link-container .links {
  transition: 0.1s all linear;
}
.navbar-links .navbar-link-container .links:hover {
  font-weight: lighter;
}

.landing-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 2rem;
  color: white;
}
@media only screen and (max-width: 800px) {
  .landing-container {
    grid-template-columns: 1fr;
    padding: 5rem 0;
  }
}
.landing-container .landing-about h1 {
  font-size: 3rem;
  background-image: linear-gradient(180deg, #ffe993, #eb831c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 0.5rem;
}
.landing-container .landing-about h2 {
  margin-bottom: 0.5rem;
}
.landing-container .landing-about p {
  line-height: 200%;
  text-align: justify;
  max-width: 600px;
  margin-bottom: 1rem;
  color: #b3b3b3;
}
@media only screen and (max-width: 800px) {
  .landing-container .landing-about p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 600px) {
  .landing-container .landing-about p {
    text-align: left;
  }
}
.landing-container .landing-about .btn-gradient-wrapper {
  background: linear-gradient(to left, #ffc600, #e8482e, #9c209d);
  display: inline-block;
  padding: 1px 1px;
  border-radius: 980px;
  transition: 0.3s all linear;
}
@media only screen and (max-width: 800px) {
  .landing-container .landing-about .btn-gradient-wrapper {
    margin-bottom: 2rem;
  }
}
.landing-container .landing-about .btn-gradient-wrapper .btn {
  display: block;
  background-color: #121212;
  text-decoration: none;
  padding: 0.5em 1em;
  color: white;
  border-radius: 50px;
  transition: 0.3s all linear;
}
.landing-container .landing-about .btn-gradient-wrapper .btn:hover {
  background-color: white;
  color: black;
}
.landing-container .landing-image img {
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  background: #b3b3b3;
  border: 2px solid #ffc600;
  transition: 0.5s filter linear;
}
.landing-container .landing-image img:hover {
  filter: contrast(1.2);
}
@media only screen and (max-width: 800px) {
  .landing-container .landing-image img {
    width: 250px;
  }
}

.about-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .about-container {
    grid-template-columns: 1fr;
    padding: 5rem 0;
  }
}
.about-container .about-content h1 {
  font-size: 3rem;
  background-image: linear-gradient(180deg, #ffe993, #eb831c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 1rem;
}
.about-container .about-content p {
  text-align: justify;
  line-height: 200%;
  max-width: 1000px;
  color: #b3b3b3;
}
@media only screen and (max-width: 800px) {
  .about-container .about-content p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 600px) {
  .about-container .about-content p {
    text-align: left;
  }
}
.about-container .img-slider {
  width: 390px;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .about-container .img-slider {
    display: none;
  }
}

.skill-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}
.skill-container .skill-content-container {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-gap: 2rem;
}
@media only screen and (max-width: 800px) {
  .skill-container .skill-content-container {
    grid-template-columns: 1fr;
  }
}
.skill-container .skill-title {
  font-size: 3rem;
  background-image: linear-gradient(180deg, #ffe993, #eb831c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 3rem;
}
.skill-container .skill-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 5rem;
  padding: 1rem;
}
@media only screen and (max-width: 1350px) {
  .skill-container .skill-items {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1000px) {
  .skill-container .skill-items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 800px) {
  .skill-container .skill-items {
    margin-bottom: 3rem;
  }
}
.skill-container .skill-items .skill-item {
  color: white;
}
.skill-container .skill-items .skill-item img {
  height: 72px;
  margin-bottom: 0.4rem;
}
.skill-container .skill-items .skill-item p {
  text-align: center;
}

.tech-cube {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}
@media only screen and (max-width: 800px) {
  .tech-cube {
    padding-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .tech-cube {
    margin-top: 10vh;
  }
}
.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.cube > div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: solid 3px #f6416c;
  background-color: rgba(249, 243, 237, 0.7);
}

.front {
  transform: translateZ(100px);
  display: flex;
  align-items: center;
}

.front > img {
  width: 150px;
}

.left > img {
  height: 70% !important;
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
  display: flex;
  align-items: center;
}

.back > img {
  width: 150px;
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.right > img {
  width: 150px;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  display: flex;
  align-items: center;
}

.left > img {
  width: 150px;
}

.top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
  display: flex;
  align-items: center;
}

.top > img {
  width: 150px;
}

.bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
  display: flex;
  align-items: center;
}

.bottom > img {
  width: 150px;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
.cube {
  animation: rotate 10s infinite linear;
}

/* adding hover effect */
.tech-cube:hover .front {
  transform: translateZ(200px);
}

.tech-cube:hover .back {
  transform: translateZ(-200px) rotateY(180deg);
}

.tech-cube:hover .right {
  transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}

.tech-cube:hover .left {
  transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}

.tech-cube:hover .top {
  transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}

.tech-cube:hover .bottom {
  transform: rotateX(270deg) translateZ(100px) translateY(100px);
}

.cube > div {
  transition: transform 0.2s ease-in;
}/*# sourceMappingURL=index.css.map */