/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

.fp-watermark {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  background-color: #121212;
}

.btn-gradient-wrapper {
  background: -webkit-gradient(
    linear,
    right top,
    left top,
    from(#ffc600),
    color-stop(#e8482e),
    to(#9c209d)
  );
  background: -o-linear-gradient(right, #ffc600, #e8482e, #9c209d);
  background: linear-gradient(to left, #ffc600, #e8482e, #9c209d);
  display: inline-block;
  padding: 1px 1px;
  border-radius: 980px;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}
@media only screen and (max-width: 800px) {
  .btn-gradient-wrapper {
    margin-bottom: 2rem;
  }
}
.btn-gradient-wrapper .btn {
  display: block;
  background-color: #121212;
  text-decoration: none;
  padding: 0.5em 1em;
  color: white;
  border-radius: 50px;
  -webkit-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear;
}
.btn-gradient-wrapper .btn:hover {
  background-color: white;
  color: black;
}

#header {
  background: -o-linear-gradient(324.4deg, #121212 63.9%, #df4f1b 30%);
  background: linear-gradient(125.6deg, #121212 63.9%, #df4f1b 30%);
  min-height: 100vh;
}
@media only screen and (max-width: 800px) {
  #header {
    min-height: auto;
  }
}

.landing-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 400px;
  grid-template-columns: 1fr 400px;
  grid-gap: 2rem;
  color: white;
}
@media only screen and (max-width: 800px) {
  .landing-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 5rem 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .landing-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 5rem 1rem;
  }
}
.landing-container .landing-about h1 {
  font-size: 3rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffe993),
    to(#eb831c)
  );
  background-image: -o-linear-gradient(top, #ffe993, #eb831c);
  background-image: linear-gradient(180deg, #ffe993, #eb831c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 0.5rem;
}
@media only screen and (max-width: 600px) {
  .landing-container .landing-about h1 {
    font-size: 2rem;
  }
}
.landing-container .landing-about h2 {
  margin-bottom: 1rem;
}
.landing-container .landing-about p {
  line-height: 200%;
  text-align: justify;
  max-width: 600px;
  margin-bottom: 1rem;
  color: #b3b3b3;
}
@media only screen and (max-width: 800px) {
  .landing-container .landing-about p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 600px) {
  .landing-container .landing-about p {
    text-align: left;
  }
}
.landing-container .landing-image img {
  width: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  background: #b3b3b3;
  border: 2px solid #ffc600;
  -webkit-filter: saturate(1.1);
  filter: saturate(1.1);
}
@media only screen and (max-width: 800px) {
  .landing-container .landing-image img {
    display: none;
  }
}

.f-carousel__dot {
  color: white;
}

.about-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 400px;
  grid-template-columns: 1fr 400px;
  grid-gap: 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .about-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 5rem 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .about-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 5rem 1rem;
  }
}
.about-container .about-content h1 {
  font-size: 3rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffe993),
    to(#eb831c)
  );
  background-image: -o-linear-gradient(top, #ffe993, #eb831c);
  background-image: linear-gradient(180deg, #ffe993, #eb831c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
  .about-container .about-content h1 {
    font-size: 2rem;
  }
}
.about-container .about-content p {
  text-align: justify;
  line-height: 200%;
  max-width: 1000px;
  color: #b3b3b3;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 800px) {
  .about-container .about-content p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 600px) {
  .about-container .about-content p {
    text-align: left;
  }
}
.about-container .img-slider {
  width: 390px;
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .about-container .img-slider {
    display: none;
  }
}

.skill-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}
@media only screen and (max-width: 500px) {
  .skill-container {
    padding-bottom: 3rem;
  }
}
.skill-container .skill-content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 2rem 1fr;
  grid-template-columns: 600px 1fr;
  grid-gap: 2rem;
}
@media only screen and (max-width: 800px) {
  .skill-container .skill-content-container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.skill-container .skill-title {
  font-size: 3rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffe993),
    to(#eb831c)
  );
  background-image: -o-linear-gradient(top, #ffe993, #eb831c);
  background-image: linear-gradient(180deg, #ffe993, #eb831c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 600px) {
  .skill-container .skill-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.skill-container .skill-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5rem 1fr 5rem 1fr 5rem 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 5rem;
  padding: 1rem;
}
@media only screen and (max-width: 1350px) {
  .skill-container .skill-items {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1000px) {
  .skill-container .skill-items {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 800px) {
  .skill-container .skill-items {
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .skill-container .skill-items {
    margin-bottom: 3rem;
    grid-row-gap: 2rem;
    grid-column-gap: 3rem;
  }
}
.skill-container .skill-items .skill-item {
  color: white;
}
.skill-container .skill-items .skill-item img {
  height: 72px;
  margin-bottom: 0.4rem;
}
@media only screen and (max-width: 500px) {
  .skill-container .skill-items .skill-item img {
    height: 52px;
    text-align: center;
  }
}
.skill-container .skill-items .skill-item p {
  width: 70px;
}

.tech-cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -o-object-fit: scale-down;
  object-fit: scale-down;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}
@media only screen and (max-width: 800px) {
  .tech-cube {
    padding-bottom: 5rem;
  }
}

@media (max-width: 768px) {
  .tech-cube {
    margin-top: 10vh;
  }
}
@media (max-width: 500px) {
  .tech-cube {
    display: none;
  }
}
.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.cube > div {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: solid 3px #eb831c;
  background-color: rgba(249, 243, 237, 0.7);
}

.front {
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.front > img {
  width: 150px;
}

.left > img {
  height: 70% !important;
}

.back {
  -webkit-transform: translateZ(-100px) rotateY(180deg);
  transform: translateZ(-100px) rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.back > img {
  width: 150px;
}

.right {
  -webkit-transform: rotateY(-270deg) translateX(100px);
  transform: rotateY(-270deg) translateX(100px);
  -webkit-transform-origin: top right;
  -ms-transform-origin: top right;
  transform-origin: top right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 5px;
}

.right > img {
  width: 150px;
}

.left {
  -webkit-transform: rotateY(270deg) translateX(-100px);
  transform: rotateY(270deg) translateX(-100px);
  -webkit-transform-origin: center left;
  -ms-transform-origin: center left;
  transform-origin: center left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.left > img {
  width: 150px;
}

.top {
  -webkit-transform: rotateX(-270deg) translateY(-100px);
  transform: rotateX(-270deg) translateY(-100px);
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.top > img {
  width: 150px;
}

.bottom {
  -webkit-transform: rotateX(270deg) translateY(100px);
  transform: rotateX(270deg) translateY(100px);
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  transform-origin: bottom center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom > img {
  width: 150px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
    transform: rotateX(360deg) rotateY(360deg);
  }
}
.cube {
  -webkit-animation: rotate 10s infinite linear;
  animation: rotate 10s infinite linear;
}

/* adding hover effect */
.tech-cube:hover .front {
  -webkit-transform: translateZ(200px);
  transform: translateZ(200px);
}

.tech-cube:hover .back {
  -webkit-transform: translateZ(-200px) rotateY(180deg);
  transform: translateZ(-200px) rotateY(180deg);
}

.tech-cube:hover .right {
  -webkit-transform: rotateY(-270deg) translateZ(100px) translateX(100px);
  transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}

.tech-cube:hover .left {
  -webkit-transform: rotateY(270deg) translateZ(100px) translateX(-100px);
  transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}

.tech-cube:hover .top {
  -webkit-transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
  transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}

.tech-cube:hover .bottom {
  -webkit-transform: rotateX(270deg) translateZ(100px) translateY(100px);
  transform: rotateX(270deg) translateZ(100px) translateY(100px);
}

.cube > div {
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.project-container {
  width: 90%;
  max-width: 1300px;
  margin: auto;
  color: white;
}
.project-container .project-title {
  font-size: 3rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffe993),
    to(#eb831c)
  );
  background-image: -o-linear-gradient(top, #ffe993, #eb831c);
  background-image: linear-gradient(180deg, #ffe993, #eb831c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 600px) {
  .project-container .project-title {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}
.project-container .splide-1 {
  max-width: 1200px;
}
.project-container .project-slide {
  margin: 0.3rem;
  padding: 2rem 1rem;
}
.project-container .project-slide .card-content {
  width: 550px;
  border: 1px solid rgba(128, 128, 128, 0.313);
  padding: 2rem 1.5rem;
}
@media only screen and (max-width: 700px) {
  .project-container .project-slide .card-content {
    width: 300px;
  }
}
.project-container .project-slide img {
  margin-bottom: 1rem;
  width: 100%;
}
.project-container .project-slide h1 {
  margin-bottom: 0.5rem;
}
.project-container .project-slide p {
  margin-bottom: 2rem;
  line-height: 150%;
  color: #b3b3b3;
}
.project-container .project-slide a {
  color: white;
  text-decoration: none;
  background-color: #eb831c;
  padding: 0.2rem 1rem;
  -webkit-transition: 0.5s opacity linear;
  -o-transition: 0.5s opacity linear;
  transition: 0.5s opacity linear;
}
.project-container .project-slide a:hover {
  opacity: 0.8;
}

.contact-container {
  max-width: 1300px;
  margin: auto;
  color: white;
  padding: 5rem 2rem;
}
.contact-container .contact-mail {
  font-size: 0.7rem;
  color: #b3b3b3;
}
@media only screen and (max-width: 800px) {
  .contact-container {
    padding: 5rem 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .contact-container {
    padding: 5rem 1rem;
  }
}
.contact-container h1 {
  font-size: 3rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#ffe993),
    to(#eb831c)
  );
  background-image: -o-linear-gradient(top, #ffe993, #eb831c);
  background-image: linear-gradient(180deg, #ffe993, #eb831c);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 600px) {
  .contact-container h1 {
    font-size: 2rem;
  }
}
.contact-container p {
  line-height: 200%;
  margin-bottom: 5rem;
  color: #b3b3b3;
}
.contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin-left: 0;
}
.contact-container form input {
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: inherit;
  margin-bottom: 1rem;
  background-color: #181818;
  border: 1px dashed gray;
  color: lightgray;
}
.contact-container form input::-moz-placeholder {
  color: lightgray;
}
.contact-container form input::-webkit-input-placeholder {
  color: lightgray;
}
.contact-container form input:-ms-input-placeholder {
  color: lightgray;
}
.contact-container form input::-ms-input-placeholder {
  color: lightgray;
}
.contact-container form input::placeholder {
  color: lightgray;
}
.contact-container form textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -ms-grid-column-align: start;
  justify-self: start;
  background-color: #181818;
  color: lightgray;
  height: 200px;
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: inherit;
  margin-bottom: 2rem;
  border: 1px dashed gray;
  resize: vertical; /* Prevent horizontal resizing */
}
.contact-container form textarea::-moz-placeholder {
  color: lightgray;
}
.contact-container form textarea::-webkit-input-placeholder {
  color: lightgray;
}
.contact-container form textarea:-ms-input-placeholder {
  color: lightgray;
}
.contact-container form textarea::-ms-input-placeholder {
  color: lightgray;
}
.contact-container form textarea::placeholder {
  color: lightgray;
}
.contact-container form h4 {
  margin-left: 0;
  margin-bottom: 2rem;
}
.contact-container form h4 a {
  color: #e8482e;
}
.contact-container form button {
  display: inline-block;
  text-align: left;
  margin-left: 0;
  font-family: inherit;
  padding: 0.2rem 1rem;
  background-color: #eb831c;
  border: none;
  color: white;
  cursor: pointer;
}
.contact-container form button:hover {
  opacity: 0.8;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  margin: 0;
  border-top: 1px solid #b3b3b3;
  padding: 1rem 2rem;
}
@media only screen and (max-width: 700px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer .content p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #b3b3b3;
  }
}
footer a {
  text-decoration: none;
  color: #b3b3b3;
}
footer i {
  font-size: 1.5rem;
  margin-right: 1rem;
}
